@import "./tailwind";
@tailwind base;
@tailwind utilities;
@tailwind components;

input,
select,
textarea {
  outline: none;
}

@media print {
  body {
    margin: 0;
    padding: 0;
  }

  #print {
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
}